<div class="container">
  <div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <label for="selects_2">Group Data by: </label>
            <div class="select">
                <select id="selectGroup" [(ngModel)]="selectedCategory" (ngModelChange)="prepareData()">
                  <option *ngFor="let field of categories" [ngValue]="field">{{field.label}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label for="selects_2">X Axis: </label>
            <div class="select">
                <select id="selectGroup" [(ngModel)]="selectedXField" (ngModelChange)="prepareData()">
                  <option *ngFor="let field of measurements" [ngValue]="field">{{field.label}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label for="selects_2">Y Axis: </label>
            <div class="select">
                <select id="selectGroup" [(ngModel)]="selectedYField" (ngModelChange)="prepareData()">
                  <option *ngFor="let field of measurements" [ngValue]="field">{{field.label}}</option>
                </select>
            </div>
        </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12" [style.height]="'600px'">
      <ngx-charts-bubble-chart
        [results]="data"
        [legend]="true"
        [xAxisLabel]="selectedXField.label"
        [yAxisLabel]="selectedYField.label"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yScaleMin]="min.y"
        [xScaleMin]="min.x"
        [yScaleMax]="max.y"
        [xScaleMax]="max.x">
      </ngx-charts-bubble-chart>
    </div>
  </div>
</div>
