<clr-datagrid>
  <clr-dg-column [clrDgField]="'name'">Description</clr-dg-column>
  <clr-dg-column [clrDgField]="'owner'">Owner</clr-dg-column>
  <clr-dg-column [clrDgField]="'hiltType'">Hilt Type</clr-dg-column>
  <clr-dg-column [clrDgField]="'bladeType'">Blade Type</clr-dg-column>
  <clr-dg-column [clrDgField]="'length.blade'">Blade Length (cm)</clr-dg-column>
  <clr-dg-column [clrDgField]="'weight.total'">Weight (g)</clr-dg-column>

  <clr-dg-row *clrDgItems="let sword of swords">
    <clr-dg-cell>{{sword.name}}</clr-dg-cell>
    <clr-dg-cell>{{sword.owner}}</clr-dg-cell>
    <clr-dg-cell>{{sword.hiltType}}</clr-dg-cell>
    <clr-dg-cell>{{sword.bladeType}}</clr-dg-cell>
    <clr-dg-cell>{{sword.length.blade}}</clr-dg-cell>
    <clr-dg-cell>{{sword.weight.total}}</clr-dg-cell>
    <clr-dg-row-detail *clrIfExpanded>
      <div class="row" [style.width]="'100%'">
        <div class="col-md-3 col-xs-12">
          <div class="row"><h5 class="col-xs">General</h5></div>
          <div class="row">
              <div class="col-xs-12 p2" *ngIf="sword.country">Country: <span class="p3">{{sword.country}}</span></div>
              <div class="col-xs-12 p2" *ngIf="sword.bladeMaker">Blade Maker: <span class="p3">{{sword.bladeMaker}}</span></div>
              <div class="col-xs-12 p2" *ngIf="sword.length.overall">Total Length: <span class="p3">{{sword.length.overall}}cm</span></div>
              <div class="col-xs-12 p2" *ngIf="sword.weight.total">Total Weight: <span class="p3">{{sword.weight.total}}</span></div>
              <div class="col-xs-12 p2" *ngIf="sword.pob">Point of Balance: <span class="p3">{{sword.pob}} mm from guard</span></div>
              <div class="col-xs-12 p2" *ngIf="sword.notes">Notes: <span class="p3">{{sword.notes}}</span></div>
          </div>
        </div>
        <div class="col-md-5 col-xs-12">
          <div class="row"><h5 class="col-xs">Blade</h5></div>
          <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="row">
                  <div class="col-xs-12 p2" *ngIf="sword.bladeType">Type: <span class="p3">{{sword.bladeType}}</span></div>
                  <div class="col-xs-12 p2" *ngIf="sword.length.blade">Length: <span class="p3">{{sword.length.blade}}cm</span></div>
                  <div class="col-xs-12 p2" *ngIf="sword.length.fuller">Fuller Length: <span class="p3">{{sword.length.fuller}}cm</span></div>
                  <div class="col-xs-12 p2" *ngIf="sword.weight.blade">Weight: <span class="p3">{{sword.weight.blade}}g</span></div>
                  <div class="col-xs-12 p2" *ngIf="sword.curvature.amount">Curvature: <span class="p3">{{sword.curvature.amount}}mm</span></div>
                  <div class="col-xs-12 p2" *ngIf="sword.curvature.position">Curvature Position: <span class="p3">{{sword.curvature.position}}cm from hilt</span></div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-12 p2" *ngIf="sword.thickness != {}">Thickness:</div>
                    <div class="col-xs-12 p2" *ngIf="sword.thickness.ricasso">Ricasso: <span class="p3">{{sword.thickness.ricasso}}mm</span></div>
                    <div class="col-xs-12 p2" *ngIf="sword.thickness.halfway">Halfway: <span class="p3">{{sword.thickness.halfway}}mm</span></div>
                    <div class="col-xs-12 p2" *ngIf="sword.thickness.atCurvature">At Curvature: <span class="p3">{{sword.thickness.atCurvature}}mm</span></div>
                    <div class="col-xs-12 p2" *ngIf="sword.thickness.tip">Tip: <span class="p3">{{sword.thickness.tip}}mm</span></div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="row"><h5 class="col-xs">Guard</h5></div>
            <div class="row">
                <div class="col-xs-12 p2" *ngIf="sword.hiltType">Hilt Type: <span class="p3">{{sword.hiltType}}</span></div>
                <div class="col-xs-12 p2" *ngIf="sword.thickness.guard">Thickness: <span class="p3">{{sword.thickness.guard}}mm</span></div>
                <div class="col-xs-12 p2" *ngIf="sword.weight.guard">Weight: <span class="p3">{{sword.weight.guard}}g</span></div>
                <div class="col-xs-12 p2" *ngIf="sword.weight.backstrap">Backstrap: <span class="p3">{{sword.weight.backstrap}}g</span></div>
                <div class="col-xs-12 p2" *ngIf="sword.weight.ferrule">Ferrule: <span class="p3">{{sword.weight.ferrule}}g</span></div>
                <div class="col-xs-12 p2" *ngIf="sword.weight.grip">Grip: <span class="p3">{{sword.weight.grip}}g</span></div>
                <div class="col-xs-12 p2" *ngIf="sword.weight.pad">Pad: <span class="p3">{{sword.weight.pad}}g</span></div>
                <div class="col-xs-12 p2" *ngIf="sword.weight.nut">Nut: <span class="p3">{{sword.weight.nut}}g</span></div>
            </div>
        </div>
      </div>
    </clr-dg-row-detail>
  </clr-dg-row>

  <clr-dg-footer>{{swords.length}} Sabres</clr-dg-footer>
</clr-datagrid>

<!--
 General         Blade   Hilt
 owner           blade type
 country         blade weight
 maker           curvature/max/position
 pob             thickness
 total width
 total weight
-->


<!-- export interface SwordInfo {
  images?: string;
  name?: string;
  hiltType?: string;
  bladeType?: string;
  bladeMaker?: string;
  country?: string;
  owner?: string;
  length?: {
    blade?: string;
    overall?: string;
    fuller?: string;
  };
  pob?: string;
  weight?: {
    total?: string;
    blade?: string;
    guard?: string;
    backstrap?: string;
    grip?: string;
    ferrule?: string;
    nut?: string;
    pad?: string;
  };
  curvature?: {
    amount?: string;
    position?: string;
  };
  width?: {
    ricasso?: string;
    tip?: string;
    halfway?: string;
  };
  thickness?: {
    ricasso?: string;
    tip?: string;
    halfway?: string;
    atCurvature?: string;
    guard?: string;
  };
  notes?: string;
} -->
