<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <span class="title">Sword Database</span>
    </div>
    <div class="header-nav">
        <a href="#" routerLink="/" routerLinkActive="active" class="nav-link nav-text">List</a>
        <a href="#" routerLink="/chart" routerLinkActive="active" class="nav-link nav-text">Chart</a>
    </div>

  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
